@use '../../styles/variables' as *;

.chighlight-effect {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);

  &.init {
    margin: -4px;
    padding: 4px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.enter {
    margin: -4px;
    padding: 4px;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
