@use '../../styles/variables' as *;

.cheader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: var(--dark-blue);

  .header-content {
    display: flex;
    align-items: center;
    flex: auto;
    max-width: $page-max-width;
    padding: 0 var(--page-padding-y);
    color: #fff;

    .logo {
      font-size: 32px;
      color: #87cca5;
    }

    .nav {
      display: flex;
      align-items: center;
      padding: 0 32px;

      .nav-item {
        padding: 8px;
        font-weight: 600;
      }
    }

    .login-btn {
      margin-left: auto;
    }
  }
}
