@keyframes cloading-icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cloading-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icon {
    stroke: var(--dark-blue);
    animation: cloading-icon-rotate 1s linear infinite;
  }
}
